/.docker/mysql/data/
/.docker/mysql/backup/
/source/plugins/index.php
/source/plugins/
/source/themes/index.php
/source/themes/hello-elementor
/source/themes/twenty*
/source/uploads/
/vendor/
/node_modules/
.env